@import 'bootstrap/dist/css/bootstrap.min.css';

*{
    background-color: #21232F;
   
}
.centered {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    text-align: center;
  }